/* Header container */
.header {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  align-items: center; /* Center the logo vertically */
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

/* Logo styling */
.gvplogo {
  max-width: 100%;
  height: auto;
  width: 998px;
  height: 120px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); /* Slight shadow for better visibility */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Hover effect for banner */
.header:hover .gvplogo {
  transform: scale(1.05); /* Slight zoom effect */
  opacity: 0.9;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0; /* Increased padding for more height */
  }
  .gvplogo {
    width: 100%;
    height: 85px; /* Increased height */
  }

}

@media (max-width: 480px) {
  .header {
    padding: 25px 0; /* Further increased padding for very small screens */
  }
  .gvplogo {
    width: 100%;
    height: 80px; /* Further increased height */

  }
  /* Hover effect for banner */
.header:hover .gvplogo {
  transform: scale(1.01); /* Slight zoom effect */
  opacity: 1;
}
}